.menu {
  background-color: aqua;
  width: 383px;
  height: 440px;
  padding-top: 150px;
  background-image: url(../img/character.PNG);
  background-position: right;
  background-size: cover;
}
.button {
  margin: 20px;
  display: flex;
  justify-content: center;
}
